body {
  background: #E5E9E;
}
.eaze-blue {
  color: rgb(0, 170, 231);
}

nav.navbar {
  box-shadow: 1px 1px 10px;
  border-radius: 0px;
  background-color: #2E282A;
}

#logo-navbar {
  font-size: 2.5em;
}

#search-navbar {
  margin-top: 1%;
  float: right;
}
@media screen and (max-width: 767px){
  #logo-navbar {
    float: left;
  }
  #search-navbar input {
    float: right;
    margin-top: 4%;
    max-width: 130px;
  }
  #search-navbar button {
    display: none;
  }
}
