/* CUSTOM CSS */
body {
  overflow-x: hidden;
}

/* NAVBAR */
.eaze-blue {
  color: rgb(0, 170, 231);
}

nav.navbar {
  box-shadow: 1px 1px 10px;
  border-radius: 0px;
  background-color: #2E282A;
  padding-right: 1%;
  position: fixed;
  width: 100%;
  top: 0;
}

#logo-navbar {
  font-size: 2.5em;
  background: -webkit-linear-gradient(rgb(0, 170, 231), #7acfef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#search-navbar {
  margin-top: 1%;
  float: right;
  margin-right: 2%;
}

/* MAIN SECTION */
div.main-content {
  margin-top: 65px;
}
div.section-title {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: .5em;
}
.section-title p {
  margin-bottom: 0;
}
#subtitle-2 {
  font-size: .8em;
}
div.list-item {
  margin-bottom: 4%;
  display: flex;
}

div.section-gif-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}
.d-none {
  visibility: hidden;
}
.gif-info {
  color: black;
  display: block;
  position: relative;
  height: 200px;
  padding-top: 10%;
}
/* Mobile */
@media screen and (max-width: 767px){
  #logo-navbar {
    float: left;
  }
  #search-navbar input {
    float: right;
    margin-top: 4%;
    max-width: 130px;
  }
  #search-navbar button {
    display: none;
  }
  .mobile-full {
    width: 350px;
  }
  .list-item {
    text-align: center;
  }
}

/* TABLET */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .tablet-half {
    width: 350px;
    height: 200px;
    margin: 1%;
    text-align: center;
  }

  div.list-item {
    display: block;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .desktop-third {
    width: 300px;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
    text-align: center;
  }
}
