/* CUSTOM CSS */
body {
  background: #E5E9E;
}

.eaze-blue {
  color: rgb(0, 170, 231);
}

nav.navbar {
  box-shadow: 1px 1px 10px;
  border-radius: 0px;
  background-color: #2E282A;
  padding-right: 1%;
}

#logo-navbar {
  font-size: 2.5em;
  background: -webkit-linear-gradient(rgb(0, 170, 231), #7acfef);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#search-navbar {
  margin-top: 1%;
  float: right;
  margin-right: 2%;
}

div.section-title {
  text-align: center;
  font-size: 1.3em;
}
div.list-item {
  margin-bottom: 4%;
  display: flex;
}

div.section-gif-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */
@media screen and (max-width: 767px){
  #logo-navbar {
    float: left;
  }
  #search-navbar input {
    float: right;
    margin-top: 4%;
    max-width: 130px;
  }
  #search-navbar button {
    display: none;
  }
  .mobile-full {
    width: 100%;
  }
  .list-item {
    text-align: center;
  }
}

/* TABLET */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  .tablet-half {
    width: 50%;
    text-align: center;
  }
  div.list-item {
    display: block;
  }
}

/* DESKTOP */
@media screen and (min-width: 1024px) {
  .desktop-third {
    width: 300px;
    margin-left: 1%;
    margin-right: 1%;
    height: auto;
    text-align: center;
  }
}
